<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2021 电影世界
        <br>Design by
        <a href="https://github.com/yujian886" target=_new>YUJIAN886</a>
    </p>
</footer>
