
<nav class="navbar navbar-default" role="navigation" style="background-color: #E9EBEE;">

<div class="container-fluid">
  <a class="navbar-brand" href="">电影世界</a>

<ul class="nav justify-content-end">
    <form class="form-inline my-2 my-lg-2">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          登录
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </form>
    </ul>
  </div>
</nav>
